[submodule ".emacs.d/plugins/ethan-wspace"]
	path = .emacs.d/plugins/ethan-wspace
	url = git://github.com/glasserc/ethan-wspace.git
[submodule ".emacs.d/plugins/doxymacs"]
	path = .emacs.d/plugins/doxymacs
	url = git://doxymacs.git.sourceforge.net/gitroot/doxymacs/doxymacs
