*~
session.*
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
*.elc
/.emacs.d/tramp
/.emacs.d/plugins/yasnippet-bundle-0.6.1c.el.tgz
/.emacs.d/.session*
/.emacs.before_ecb_2.32*
/.emacs.d/plugins/cedet-1.0/.emacs.desktop
/.emacs.d/plugins/relaxng/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/tramp
/var/pcache/gh/gh-pulls-api/rajish
/.emacs.d/ede-projects.el
/.emacs.d/semanticdb/
